
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">{{presupuesto.name}}</h4>
      </div>
      <div class="modal-body">
        <div class="container table-responsive col-xs-12">
            <table class="table table-striped">
                <thead class="thead" style="background-color:green; color:white;">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Costo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.cost}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
