{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Movimientos
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/filterable.css' %}">
{% endblock %}
{% block content %}
<section id="lista">
  <div class="container">
    <div class="row">
      <div class="panel panel-primary filterable" style="border-color: gray;">
        <div class="panel-heading" style="background-color: gray; border-color: gray;">
          <h3 class="panel-title">Movimientos</h3>
          <span class="pull-right btn btn-default btn-xs btn-filter glyphicon glyphicon-filter"></span>
        </div>
        <table class="table">
          <thead>
            <tr class="filters">
              <th><input type="text" class="form-control" placeholder="Nombre" disabled></th>
              <th><input type="text" class="form-control" placeholder="Descripcion" disabled></th>
              <th><input type="text" class="form-control" placeholder="Costo" disabled></th>
              <th><input type="text" class="form-control" placeholder="Destinos" disabled></th>
            </tr>
          </thead>
          <tbody>
            {% for a in transaccion %}
            <tr>
              <td>{{a.name}}</td>
              <td>{{a.description}}</td>
              <td>{{a.amount}}</td>
              <td>{{a.destination}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/filterable.js' %}"></script>
{% endblock %}
