  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Nuevo afiliado</h4>
  </div>
  <div class="modal-body">
            <form action="{% url 'inscription:addAfiliado' %}" id="scout_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="checkbox" id="scout_scout" name="scout" class="scout">Adulto</input><br>
            <div class="form-group" id="id_{{ scout.name.name }}_scout">
              <label class="sr-only" for="id_{{ scout.name.name }}">{{ scout.name.label }}</label>
              <input type="text" name="{{ scout.name.name }}" placeholder="{{ scout.name.label }}" class="form-username form-control" id="id_{{ scout.name.name }}">
            </div>
            <div class="form-group" id="id_{{ scout.gender.name }}_scout">
              <select class="selectpicker" data-style="btn my-btn-green" data-width="100%" id="de" name="{{ scout.gender.name }}" title="{{ scout.gender.label}}" data-width="auto">
                {% for id, name in scout.gender.field.choices %}
                <option value="{{id}}">{{name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group" id="id_{{ scout.dni.name }}_scout">
              <label class="sr-only" for="id_{{ scout.dni.name }}">{{ scout.dni.label }}</label>
              <input type="text" name="{{ scout.dni.name }}" placeholder="{{ scout.dni.label }}" class="form-username form-control" id="id_{{ scout.dni.name }}">
            </div>
            <div class="form-group" id="id_{{ scout.birthday.name }}_scout">
              <div class='input-group date' id='birthday_scout'>
                <input type='text' class="form-control" placeholder="{{ scout.birthday.label }}" name="{{ scout.birthday.name }}"/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            <div class="form-group" id="id_{{ scout.phone.name }}_scout">
              <label class="sr-only" for="id_{{ scout.phone.name }}">{{ scout.phone.label }}</label>
              <input type="text" name="{{ scout.phone.name }}" placeholder="{{ scout.phone.label }}" class="form-username form-control" id="id_{{ scout.phone.name }}">
            </div>
            <div class="form-group" id="id_{{ scout.adress.name }}_scout">
              <label class="sr-only" for="id_{{ scout.adress.name }}">{{ scout.adress.label }}</label>
              <input type="text" name="{{ scout.adress.name }}" placeholder="{{ scout.adress.label }}" class="form-username form-control" id="id_{{ scout.adress.name }}">
            </div>
            <div class="form-group" id="id_{{ scout.tutor.name }}_scout">
              <label class="sr-only" for="id_{{ scout.tutor.name }}">{{ scout.tutor.label }}</label>
              <input type="text" name="{{ scout.tutor.name }}" placeholder="{{ scout.tutor.label }}" class="form-username form-control" id="id_{{ scout.tutor.name }}">
            </div>
            <div class="form-group" id="id_{{ scout.section.name }}_scout">
              <select class="selectpicker" data-style="btn my-btn-green" data-width="100%" id="de" name="{{ scout.section.name }}" data-live-search="true" title="{{ scout.section.label}}" data-width="auto">
                {% for id, name in scout.section.field.choices %}
                {% if not forloop.first %}
                <option value="{{id}}">{{name}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form-group" id="id_{{ scout.stage.name }}_scout">
              <select class="selectpicker" data-style="btn my-btn-green" data-width="100%" id="de" name="{{ scout.stage.name }}" data-live-search="true" title="{{ scout.stage.label}}" data-width="auto">
                {% for id, name in scout.stage.field.choices %}
                {% if not forloop.first %}
                <option value="{{id}}">{{name}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form-group" id="id_{{ scout.picture.name }}_scout">
              <input id="id_{{ scout.picture.name }}" accept="image/png, image/jpeg" type="file" class="file" data-show-upload="false" data-show-remove="false" data-show-preview="false" name="{{ scout.picture.name }}">
            </div>
            <div class="form-group" id="id_{{ scout.email.name }}_scout">
              <label class="sr-only" for="id_{{ scout.email.name }}">{{ scout.email.label }}</label>
              <input type="text" name="{{ scout.email.name }}" placeholder="{{ scout.email.label }}" class="form-username form-control" id="id_{{ scout.email.name }}">
            </div>
          </form>
          <form action="{% url 'inscription:addAfiliado' %}" id="adult_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="checkbox" checked="true" name="scout" class="scout" value="Adulto">Adulto<br>
            <div class="form-group" id="id_{{ adulto.name.name }}_adulto">
              <label class="sr-only" for="id_{{ adulto.name.name }}">{{ adulto.name.label }}</label>
              <input type="text" name="{{ adulto.name.name }}" placeholder="{{ adulto.name.label }}" class="form-username form-control" id="id_{{ adulto.name.name }}">
            </div>
            <div class="form-group" id="id_{{ adulto.gender.name }}_scout">
              <select class="selectpicker" data-style="btn my-btn-green" data-width="100%" id="de" name="{{ adulto.gender.name }}" title="{{ adulto.gender.label}}" data-width="auto">
                {% for id, name in adulto.gender.field.choices %}
                <option value="{{id}}">{{name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group" id="id_{{ adulto.dni.name }}_adulto">
              <label class="sr-only" for="id_{{ adulto.dni.name }}">{{ adulto.dni.label }}</label>
              <input type="text" name="{{ adulto.dni.name }}" placeholder="{{ adulto.dni.label }}" class="form-username form-control" id="id_{{ adulto.dni.name }}">
            </div>
            <div class="form-group" id="id_{{ adulto.birthday.name }}_scout">
              <div class='input-group date' id='birthday_adult'>
                <input type='text' class="form-control" placeholder="{{ adulto.birthday.label }}" name="{{ adulto.birthday.name }}"/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            <div class="form-group" id="id_{{ adulto.phone.name }}_adulto">
              <label class="sr-only" for="id_{{ adulto.phone.name }}">{{ adulto.phone.label }}</label>
              <input type="text" name="{{ adulto.phone.name }}" placeholder="{{ adulto.phone.label }}" class="form-username form-control" id="id_{{ adulto.phone.name }}">
            </div>
            <div class="form-group" id="id_{{ adulto.adress.name }}_adulto">
              <label class="sr-only" for="id_{{ adulto.adress.name }}">{{ adulto.adress.label }}</label>
              <input type="text" name="{{ adulto.adress.name }}" placeholder="{{ adulto.adress.label }}" class="form-username form-control" id="id_{{ adulto.adress.name }}">
            </div>
            <div class="form-group" id="id_{{ adulto.formation.name }}_adulto">
              <label class="sr-only" for="id_{{ adulto.formation.name }}">{{ adulto.formation.label }}</label>
              <input type="text" name="{{ adulto.formation.name }}" placeholder="{{ adulto.formation.label }}" class="form-username form-control" id="id_{{ adulto.formation.name }}">
            </div>
            <div class="form-group" id="id_{{ adulto.email.name }}_adulto">
              <label class="sr-only" for="id_{{ adulto.email.name }}">{{ adulto.email.label }}</label>
              <input type="text" name="{{ adulto.email.name }}" placeholder="{{ adulto.email.label }}" class="form-username form-control" id="id_{{ adulto.email.name }}">
            </div>
          </form>
  </div>
  <div class="modal-footer">
    <button id="btn-save-scout" class="btn my-btn-green btn-primary">Registrar Scout</button>
    <button id="btn-save-adult" class="btn my-btn-green btn-primary">Registrar Adulto</button>
  </div>
<script>
$('.scout').click(function(event) {
  console.log('here');
  $('#scout_form').toggle();
  $('#adult_form').toggle();
  $('#btn-save-scout').toggle();
  $('#btn-save-adult').toggle();
  event.preventDefault();
});

$(function () {
  var d = new Date();
  $('.selectpicker').selectpicker('refresh');
  $('.selectpicker').selectpicker('render');
  $('#birthday_adult').datetimepicker({format: 'YYYY-MM-DD',viewMode: 'years',maxDate: d});
  $('#birthday_scout').datetimepicker({format: 'YYYY-MM-DD',viewMode: 'years',maxDate: d});
  $('#adult_form').hide();
  $('#btn-save-adult').hide();
});
toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-bottom-left",
  "preventDuplicates": true,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
};
function send_ajax(form, url){
  $.ajax({
    type: "POST",
    url: url,
    dataType: 'json',
    data: form, // serializes the form's elements.
    statusCode: {
      200: function() {
        toastr["success"]("Scout agregado correctamente.");
        console.log("Evento creado.");
      },
      201: function() {
        toastr["success"]("Adulto agregado correctamente.");
        console.log("Evento creado.");
      },
      202: function() {
        toastr["warning"]("Verifique los campos.");
        console.log("Evento creado.");
      },
    },
    success:function(result) {
      $("#modal").modal('hide');
    },
    error:function(result) {
      console.log(result);
    }
  });
}
$('#btn-save-scout').click(function(){
  var url = "{% url 'inscription:addAfiliado' %}";
  var form = $('#scout_form').serialize();
  send_ajax(form, url);
});
$('#btn-save-adult').click(function(){
  var url = "{% url 'inscription:addAdulto' %}";
  var form = $('#adult_form').serialize();
  send_ajax(form, url);
});
</script>
