<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Registrar usuario nuevo</h4>
</div>
<div class="form-bottom modal-body">
  <form role="form" action="{% url 'administrator:register' %}" method="post" class="registration-form">
    {% csrf_token %}
    <div class="form-group">
      <select class="selectpicker" data-style="btn my-btn-gray" name="rolselect" data-width="100%">
        <option value="SUPERUSER">Master</option>
        <option value="ABM">Administrador</option>
        <option value="ACCOUNT">Contador</option>
      </select>
    </div>
    <div class="form-group">
      <label class="sr-only" for="username">Usuario</label>
      <input type="text" name="username" placeholder="Username" class="form-first-name form-control" id="form-first-name">
    </div>
    <div class="form-group">
      <label class="sr-only" for="password">Contraseña</label>
      <input type="password" name="password" placeholder="Password" class="form-last-name form-control" id="form-last-name">
    </div>
    <div class="modal-footer">
      <button type="submit" id="btn-save-user" class="btn my-btn-green">Registrar</button>
    </div>
  </form>
</div>

<script>
toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-bottom-left",
  "preventDuplicates": true,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
};
$(function () {
  $('.selectpicker').selectpicker('refresh');
  $('.selectpicker').selectpicker('render');
});

  $('#btn-save-user').click(function(){
        var url = "{% url 'administrator:register' %}";
        $.ajax({
          type: "POST",
          url: url,
          data: $("#mov").serialize(), // serializes the form's elements.
          statusCode: {
            200: function() {
              toastr["success"]("Usuario creado.");
              console.log("Evento creado.");
            },
            201: function() {
              toastr["warning"]("Verifique los campos.");
              console.log("Evento creado.");
            },
          },
          success:function(result) {
            $("#modal").modal('hide');
          },
          error:function(result) {
            console.log(result);
          }
        });
      });
  </script>
