  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Venta nueva</h4>
  </div>
  <div class="modal-body">
    <form action="{% url 'accounts:newVenta' %}" method="post" enctype="multipart/form-data" id="sale">
      {% csrf_token %}
      <div class="form-group">
        <label class="sr-only" for="nombre">{{ form.name.label }}</label>
        <input type="text" name="{{ form.name.name }}" placeholder="{{ form.name.label }}" class="form-last-name form-control" id="nombre">
      </div>
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <select class="selectpicker" data-style="btn my-btn-gray"  id="de" name="{{ form.seller.name }}" data-live-search="true" title="{{ form.seller.label }}" data-width="auto">
              {% for id, name in form.seller.field.choices %}
              {% if not forloop.first %}
              <option value="{{id}}">{{name}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-xs-offset-3 col-xs-3">
          <div class="form-group">
            <select class="selectpicker" data-style="btn my-btn-gray"  id="de" name="{{ form.event.name }}" data-live-search="true" title="{{ form.event.label }}" data-width="auto">
              {% for id, name in form.event.field.choices %}
              {% if not forloop.first %}
              <option value="{{id}}">{{name}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="amount">{{ form.amount.label }}</label>
        <input type="text" name="{{ form.amount.name }}" placeholder="{{ form.amount.label }}" class="form-last-name form-control" id="amount">
      </div>
      <div class="form-group">
        <label class="sr-only" for="quantity">{{ form.quantity.label }}</label>
        <input type="text" name="{{ form.quantity.name }}" nkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="{{ form.quantity.label }}" class="form-last-name form-control" id="quantity">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button id="btn-save-sale" onclick="send_event()" class="btn my-btn-green btn-primary">Guardar</button>
  </div>

<script>
toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-bottom-left",
  "preventDuplicates": true,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
};
$('#btn-save-sale').click(function(){
  var url = "{% url 'accounts:newVenta' %}";
  $.ajax({
    type: "POST",
    url: url,
    data: $("#sale").serialize(), // serializes the form's elements.
    statusCode: {
      200: function() {
        toastr["success"]("Venta creada.");
        console.log("Evento creado.");
      },
      201: function() {
        toastr["warning"]("Verifique los campos.");
        console.log("Evento creado.");
      },
    },
    success:function(result) {
      $("#modal").modal('hide');
    },
    error:function(result) {
      console.log(result);
    }
  });
});
$(function () {
  $('#fecha_mov').datetimepicker({format: 'YYYY-MM-DD HH:mm'});
  $('.selectpicker').selectpicker('refresh');
  $('.selectpicker').selectpicker('render');
});
</script>
