<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Item Nuevo</h4>
</div>
<div class="modal-body">
  <form action="{% url 'accounts:addItem' %}" method="post" enctype="multipart/form-data" id="ite">
    {% csrf_token %}
    <div class="form-group">
      <label class="sr-only" for="{{ form.name.label }}">{{ form.name.label}}</label>
      <input name="{{ form.name.name }}" type="text" class="form-control" placeholder="{{ form.name.label }}" id="nombre"></input>
    </div>
    <div class="form-group">
      <label class="sr-only" for="{{ form.description.label }}">{{ form.description.label }}</label>
      <input name="{{ form.description.name }}" type="text" class="form-control" placeholder="{{ form.description.label }}" id="description"></input>
    </div>
    <div class="form-group">
      <select class="selectpicker" data-style="btn my-btn-gray" data-width="100%" id="de" name="{{ form.presupuesto.name }}" data-live-search="true" title="{{ form.presupuesto.label}}" data-width="auto">
        {% for id, name in form.presupuesto.field.choices %}
        {% if not forloop.first %}
        <option value="{{id}}">{{name}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label class="sr-only" for="{{ form.quantity.label }}">{{ form.quantity.label }}</label>
      <input name="{{ form.quantity.name }}" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" placeholder="{{ form.quantity.label }}" id="quantity"></input>
    </div>
    <div class="form-group">
      <label class="sr-only" for="{{ form.cost.label }}">{{ form.cost.label }}</label>
      <input name="{{ form.cost.name }}" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" placeholder="{{ form.cost.label }}" id="cost"></input>
    </div>
    </form
  </div>
  <div class="modal-footer">
    <button onclick="send_event()" id="btn-save-item" class="btn my-btn-green btn-primary">Agregar</button>
  </div>
  <script>
  toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": false,
    "positionClass": "toast-bottom-left",
    "preventDuplicates": true,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  };
  $('#btn-save-item').click(function(){
    var url = "{% url 'accounts:addItem' %}";
    $.ajax({
      type: "POST",
      url: url,
      data: $("#ite").serialize(), // serializes the form's elements.
      statusCode: {
        200: function() {
          toastr["success"]("Item creado.");
          console.log("Evento creado.");
        },
        201: function() {
          toastr["warning"]("Verifique los campos.");
          console.log("Evento creado.");
        },
      },
      success:function(result) {
        $("#modal").modal('hide');
      },
      error:function(result) {
        console.log(result);
      }
    });
  });
  $(function () {
    $('.selectpicker').selectpicker('refresh');
    $('.selectpicker').selectpicker('render');
  });
  </script>
